
<div class="panel panel-default">
	<div class="panel-heading ">
    <h4 class="venue-heading">List your wedding venues</h4>
  </div>

<div class="panel-body">
	<div class="conatiner">
<%= simple_form_for(@venue_listing) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-group">
    <%= f.input :venue_name, :placeholder => 'Enter room name' %>
    <%= f.input :description, :placeholder => 'Summary of the venue, eg:food and other addons' %>
    <%= f.input :attendees, :placeholder => 'How many heads can the venue fit?' %>
    <%= f.input :location, :placeholder => 'Where is the venue located?' %>
    <%= f.text_field :price, :value => '$' %> for
    <%= f.text_field :hours, :placeholder => 'eg: $300 for 3 hrs' %> hours <br>
    <br>
		 <%= f.input :image, as: :file, class: "form-control-file"%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class:"btn btn-normal"%>
  </div>
<% end %>

</div>
</div>
  </div>
