
  <div class="row">
  	<div class="col-md-3">
  		<ul class="sidebar-list">
        <li class="sidebar-item"> <%= link_to "Your Venues", venue_listings_path , class: "sidebar-link" %> </li>
  		</ul>
  	</div>
  	<div class="col-md-9">
  		<div class="panel panel-default">
  			<div class="panel-heading">
  				Listings
  			</div>
  			<div class="panel-body">
  				  <% @venue_listings.each do |venue_listing| %>
  					<div class="row">
  						<div class="col-md-2">
                <%=  image_tag(venue_listing.image_url) %>
  						</div>
  						<div class="col-md-7">
                 <%= venue_listing.venue_name %>
  						</div>
  						<div class="col-md-3 right">
  							<%= link_to "Edit Venue", edit_venue_listing_path(venue_listing), class: "btn btn-primary" %>
                <%= link_to 'Delete', venue_listing_path(venue_listing), method: :delete %>
  						</div>
  					</div>
  					<hr>
  				<% end %>
  			</div>
  		</div>
  	</div>
  </div>
