<p id="notice"><%= notice %></p>

<h1>Venue Listings</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Description</th>
      <th>Cost</th>
      <th>Date</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @venue_listings.each do |venue_listing| %>
      <tr>
        <td><%= venue_listing.image %></td>
        <td><%= venue_listing.description %></td>
        <td><%= venue_listing.cost %></td>
        <td><%= venue_listing.date %></td>
        <td><%= venue_listing.company %></td>
        <td><%= link_to 'Show', venue_listing %></td>
        <td><%= link_to 'Edit', edit_venue_listing_path(venue_listing) %></td>
        <td><%= link_to 'Destroy', venue_listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Venue Listing', new_venue_listing_path %>
