<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @venue_listing.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @venue_listing.description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @venue_listing.cost %>
</p>

<p>
  <strong>Date:</strong>
  <%= @venue_listing.date %>
</p>

<p>
  <strong>Company:</strong>
  <%= @venue_listing.company %>
</p>

<%= link_to 'Edit', edit_venue_listing_path(@venue_listing) %> |
<%= link_to 'Back', venue_listings_path %>
