

<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Venue name:</strong>
  <%= @venue_listing.venue_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @venue_listing.description %>
</p>

<p>
  <strong>Attendees:</strong>
  <%= @venue_listing.attendees %>
</p>

<p>
  <strong>Location:</strong>
  <%= @venue_listing.location %>
</p>

<p>
  <strong>Price:</strong>
  <%= @venue_listing.price %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @venue_listing.hours %>
</p>

<p>
  <strong>Image:</strong>
  <%= @venue_listing.image %>
</p>

<p>
  <strong>Company:</strong>
  <%= @venue_listing.company %>
</p>

<%= link_to 'Edit', edit_venue_listing_path(@venue_listing) %> | -->
