
<div class="row">
  <div class="col-md-4 col-md-offset-4">
<h2>Change your password</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

<div>
  <%= f.input :password, autocomplete: "off", required: false, placeholder: "New Password", class: "form-control" %>

  <%= f.input :password_confirmation, required: false, placeholder: "Confirm New Password", class: "form-control" %>
</div>

  <div class="form-actions">
    <%= f.button :submit, "Change my password", class: "btn btn-primary" %>
  </div>
<% end %>


</div>
</div>
