

<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://localhost:3000">VenuWed</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if (!user_signed_in?)%>
          <li> <%= link_to "Login", new_user_session_path %> </li>
        <li> <%= link_to "Sign Up", new_user_registration_path %> </li>
          <% elsif (user_signed_in?) %>
              <% if current_user.is_company %>
            <li class="dropdown">
              <a href="#" class="glyphicon glyphicon-user" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <ul class="dropdown-menu">



                  <li>
                    <%= link_to 'List new venue', new_venue_listing_path %>
                  </li>
                  <li>
                    <%= link_to 'My Venues', venue_listings_path %>
                  </li>
                  <li>
                      <%= link_to 'View Profile', company_path(current_user.company) %>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <%= link_to "Edit Profile", edit_user_registration_path %>
                  </li>
                  <li>
                    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li class="dropdown">
                <a href="#" class="glyphicon glyphicon-user" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <!-- <%= image_tag avatar_url(current_user), class: "image-circle avatar-small" %>&nbsp; -->
                  <i class="far fa-user-circle"></i>
                  <ul class="dropdown-menu">
                    <li>
                      <% @my_customer_id = Customer.find_by(user_id: current_user.id) %>
                    <%= link_to 'View Profile', customer_path(@my_customer_id.id) %>
                    </li>
                    <li>
                      <a href="#">Your venues booked</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <%= link_to "Edit Profile", edit_user_registration_path %>
                    </li>
                    <li>
                      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                    </li>
                  </ul>
                </li>

              <% end %>
              <% end %>
            </ul>

          </div>

        </nav>
