<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-3">
    <div class="center">
<!-- image goes here -->
    <%=  image_tag(customer.image_url) %>
    </div>
    <div class="panel panel-default">
<div class="panel-heading"><%= @customer.first_name %>   <%= @customer.last_name %> </div>
<div class="panel-body">
  Location:   <%= @customer.location %> <br>
  Phone Number:  <%= @customer.phone %> <br>
    </div>
  </div>
</div>

  <div class="col-md-9">
    <h2>Venues Booked</h2>
    <div class="description row-space-3">

    </div>
  </div>
</div>
