<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @customer.image %>
</p>

<p>
  <strong>Location:</strong>
  <%= @customer.location %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>User:</strong>
  <%= @customer.user %>
</p>
