<!DOCTYPE html>
<html>
  <head>
    <title>Venuwed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<%= render 'shared/navbar' %>
<%= render 'shared/message' %>
<!-- <%= render 'shared/devisemes' %> -->

     <div class="container">
         <%= yield %>
     </div>
  </body>
</html>
