<!DOCTYPE html>
<html>
  <head>
    <title>Venuwed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  </head>

  <body>

<%= render 'shared/navbar' %>
<%= render 'shared/message' %>


     <div class="container">
         <%= yield %>
     </div>
  </body>
</html>
